<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Shopflo Assignment Suite">

    <test name="UI Automation">

        <classes>

            <class name="com.ankita.tests.LoginTests"/>
            <class name="com.ankita.tests.ProductTests"/>
            <class name="com.ankita.tests.CartTests"/>
            <class name="com.ankita.tests.CheckoutInformationTests"/>
            <class name="com.ankita.tests.CheckoutOverviewTests"/>
            <class name="com.ankita.tests.CheckoutCompleteTests"/>
            <class name="com.ankita.tests.EndToEndTests"/>

        </classes>

    </test>

    <test name="API Automation">

        <classes>

            <class name="com.ankita.tests.CartCrud"/>
            <class name="com.ankita.tests.AuthenticationTests"/>
            <class name="com.ankita.tests.ResponseValidation"/>
            <class name="com.ankita.tests.CartNegativeTests"/>
            <class name="com.ankita.tests.DataDrivenCartTests"/>

        </classes>

    </test>

</suite>